
.post-form,
input,
button {
    color: black;
}



.post-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.post-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-wrap: anywhere;
}


.post-card-content-user a {
    display: flex;
    gap: 0.3rem;
    font-weight: bold;
    text-decoration: none;
}

.post-card-content-user-user {
    font-weight: bold;
}

.post-card-content-user-greyed,
.see-post-owner-card-profil-greyed-out {
    color: rgb(113, 118, 123);
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
}

.post-card-function {
    margin-top: 0.4rem;
}



.post-card-content-user-link {
    position: relative;
}

.hover-under {
    position: relative;
    display: inline-block;
}

.hover-under::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.2s ease;
}

.post-card-content-user-link:hover .hover-under::after {
    width: 100%;
}



.post-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post-stats p,
.post-stats i {
    color: rgba(255, 255, 255, 0.5);
}

.post-stats button {
    background: none;
    border: none;
}

.post-stats-comment {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
    width: fit-content;
}
.post-stats-comment button{
    cursor: pointer;
}

.post-stats-comment:hover{
    background-color: rgb(29, 155, 240, 0.2);
}

.post-stats-comment:hover p,
.post-stats-comment:hover i {
    color: rgb(29, 155, 240);
}

/* ----- Likes ----- */

.post-stats-like {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.post-stats-like:hover {
    background-color: rgba(252, 60, 60, 0.2);
}

/* Si la div a la classe "liked" */
.post-stats-like.liked p,
.post-stats-like.liked i {
    color: rgb(252, 60, 60);
}

/* Si tu veux garder "not-liked" pour le hover */
.post-stats-like.not-liked:hover p,
.post-stats-like.not-liked:hover i {
    color: rgb(252, 60, 60);
}


/* ========== PAGE SEE POST / DÉTAIL POST ========== */

.see-post-owner-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1rem 1rem 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.see-post-owner-card-content {
    overflow-wrap: anywhere;
}

.see-post-owner-card-stats {
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.see-post-owner-card-profil h1 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

.see-post-owner-card-respond form {
    display: flex;
    justify-content: space-between;
}


