.post-form,
input,
button {
    color: black;
}


.post-card {
    display: flex;
    border-bottom: 1px rgb(128, 128, 128, 0.3) solid;
    flex-direction: column;
    padding: 0.5rem 1rem;

}

.post-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-wrap: anywhere;
}

.post-card-content-user a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    gap: 0.3rem;
}

.post-card-function {
    margin-top: 0.4rem;
}

.post-card-content-user-user {
    font-weight: bold;
}

.see-post-owner-card-profil h1 {
    margin: 0;
    line-height: normal;
    padding: 0;
}

.see-post-owner-card-profil-greyed-out,
.post-card-content-user-greyed {
    color: rgb(113, 118, 123);
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
}

.post-card-content-user-link {
    position: relative;
}

.hover-under {
    position: relative;
    display: inline-block;
}

.hover-under::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.2s ease;
}

.post-card-content-user-link:hover .hover-under::after {
    width: 100%;
}

.see-post-owner-card-stats-comment,
.post-card-function-comment {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
    width: fit-content;
    border-radius: 1rem;
}

.see-post-owner-card-stats-comment p,
.see-post-owner-card-stats-comment i,
.post-card-function-comment p,
.post-card-function-comment i {
    color: rgb(255, 255, 255, 0.5);
}

.see-post-owner-card-stats-comment button,
.post-card-function-comment button {
    background: none;
    border: none;
}

/* Hover : fond léger + change couleur icône et texte */
* .see-post-owner-card-stats-comment:hover,
.post-card-function-comment:hover {
    background: rgba(29, 155, 240, 0.1);
}

.see-post-owner-card-stats-comment:hover p,
.see-post-owner-card-stats-comment:hover i,
.post-card-function-comment:hover i,
.post-card-function-comment:hover p {
    color: rgb(29, 155, 240);
}


.go-back {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.go-back-button {
    padding: 1rem;
    margin-top: 0.2rem;
    border-radius: 10rem;
    cursor: pointer;
}

.go-back-button:hover {
    background-color: rgb(128, 128, 128, 0.2);
}


.see-post-owner-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0rem 1rem 1rem 1rem;
    border-bottom: 1px rgb(128, 128, 128, 0.3) solid;

}

.see-post-owner-card-content {
    overflow-wrap: anywhere;
}

.see-post-owner-card-stats {
    border-top: 1px rgb(128, 128, 128, 0.3) solid;
    border-bottom: 1px rgb(128, 128, 128, 0.3) solid;

    display: flex;
}

.see-post-owner-card-respond form {
    display: flex;
    justify-content: space-between;
}