.post-form,
input,
button {
    color: black;
}


.post-card {
    display: flex;
    border: 1px rgb(128, 128, 128, 0.5) solid;
    flex-direction: column;
}

.post-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.post-card-content-user a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    gap: 0.3rem;
}

.post-card-content-user-user {
    font-weight: bold;
}

.post-card-content-user-greyed {
    color: rgb(113, 118, 123);
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
}

.post-card-content-user-link {
    position: relative;
}

.hover-under {
    position: relative;
    display: inline-block;
}

.hover-under::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;  
    width: 0;
    height: 2px;
    background: white;  
    transition: width 0.2s ease;
}

.post-card-content-user-link:hover .hover-under::after {
    width: 100%;
}


.post-card-function-comment {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
    width: fit-content;
    border-radius: 1rem;
}

.post-card-function-comment button{
    background: none;
    border: none;
}

/* Hover : fond léger + change couleur icône et texte */
.post-card-function-comment:hover {
    background: rgba(29, 155, 240, 0.1);
}

.post-card-function-comment:hover i,
.post-card-function-comment:hover p {
    color: rgb(29, 155, 240);
}
