

header a{
    text-decoration: none;
}

header img {
    width: 2rem;
}

.header-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.header-list{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.header-list i {
    font-size: 1.5rem;
}

.header-post{
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 2rem;
}