

.home-feed-choice {
    display: flex;
    justify-content: space-around;
    border: 1px rgb(128, 128, 128,0.5) solid;
}

.home-feed-choice div {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

.home-feed-choice p {
    padding-bottom: 1rem;
    border-bottom: 2px blue solid;
    width: fit-content;
}