* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
}

img {
    width: 100%;
}

body {
    background-color: black;
}

.content {
    display: flex;
    gap: 5rem;
    max-height: 100vh;
    height: fit-content;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}


main {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    border: 1px rgb(128, 128, 128, 0.3) solid;
    overflow-y: scroll;
    scrollbar-width: none;
}

.filter {
    display: flex;
    flex: 1;
}

.test {
    min-height: 300vh;
}


.end-message {
    text-align: center;
}