* {
    padding: 0;
    margin: 0;
    color: white;
}

img {
    width: 100%;
}

body {
    background-color: black;
}

.content {
    display: flex;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


main {
    display: flex;
    flex: 2;
}

