* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
}

img {
    width: 100%;
}

body {
    background-color: black;
}

.content {
    display: flex;
    gap: 5rem;
    max-height: 100vh;
    height: fit-content;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}


main {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    border: 1px rgb(128, 128, 128, 0.3) solid;
    overflow-y: scroll;
    scrollbar-width: none;
}

.filter {
    display: flex;
    flex: 1;
}

.test {
    min-height: 300vh;
}


.end-message {
    text-align: center;
}

.not-followed {
    padding: 0.6rem 1.3rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
}

.followed {
    padding: 0.6rem 1.3rem;
    background-color: black;
    border: none;
    color: white;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
    border: 1px rgb(255, 255, 255, 0.5) solid;
}

.followed:hover {
    border: 1px rgba(250, 68, 68, 0.5) solid;
    color: rgba(250, 68, 68);

}

.strong {
    font-weight: bold;
}

.greyed {
    color: rgba(255, 255, 255, 0.5);
}

.flex {
    display: flex;
}

.gap-03 {
    gap: 0.3rem;
}

.column {
    flex-direction: column;
}

.hidden {
    display: none;
}

.close {
    padding: 0.5rem;
    width: fit-content;
    border-radius: 1rem;
    cursor: pointer;
}

.close:hover {
    background-color: rgba(128, 128, 128, 0.2);

}

.go-back {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.go-back-button {
    padding: 1rem;
    margin-top: 0.2rem;
    border-radius: 10rem;
    cursor: pointer;
}

.go-back-button:hover {
    background-color: rgba(128, 128, 128, 0.2);
}