* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
}

img {
    width: 100%;
}

body {
    background-color: black;
}

.content {
    display: flex;
    gap: 5rem;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}


main {
    display: flex;
    flex: 1.2;
    flex-direction: column;
    border: 1px rgb(128, 128, 128, 0.5) solid;
}

.filter {
    display: flex;
    flex: 1;
}